@model GroundManagmentSystem.Models.ISA_Model
<link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Create";
}

<h1>DODAJ</h1>


<hr />
<form  asp-action="Create" >

<div id="create_main" class="border border-secondary rounded">
    <h1>Podstawowe informacje</h1>
 
<div id="create_isa_number" class="form-group" >
   <!--<label asp-for="ISA_number" class="control-label"></label>--> 
   <p1>Numer ISA</p1>
    <input id="input_isa_number" asp-for="ISA_number" class="form-control"  />
   <!--<span asp-validation-for="ISA_number" class="text-danger"></span>--> 
</div>

<div id="create_date_time">
    
    
   <label asp-for="ISA_date_time" class="control-label">Data i godzina</label>
   <input id="input_isa_date_time"asp-for="ISA_date_time" class="form-control"  />
   <span asp-validation-for="ISA_date_time" class="text-danger"></span>
           
</div>
<div id="create_isa_line">
    <p1>Linia</p1>
    <input id="input_isa_line" asp-for="ISA_line" class="form-control" />
</div>
<div id="create_isa_comment">
    <p1> Komentarz</p1>
    <input id="input_isa_comment" asp-for="ISA_comment" class="form-control" />
</div>
<div id="create_to_check"class="form-check form-switch">
    <p1 style="position:relative;left:-40px;">Do Sprawdzenia</p1>  
  <input asp-for="ISA_to_chceck" class="form-check-input" type="checkbox" role="switch" id="input_to_check">
  
</div>



<div id="create_fba" class="border border-secondary rounded">
    <h1>FBA</h1>

    <div id="create_isa_fba" class="form-group">
     <p1>FBA Ilość</p1>      
     <input id="input_isa_fba" asp-for="ISA_fba" class="form-control" />
     </div>

     <div id="create_isa_standard">
        <p1>FBA Kontener</p1>       
         <input id="input_isa_standard"asp-for="ISA_fba_standard" class="form-control" />
     </div>

     <div id="create_isa_sea_container">
         <p1>FBA Morski</p1>
          <input id="input_isa_sea_container" asp-for="ISA_fba_sea_container" class="form-control" />
     </div>

      <div id="create_isa_semitrailer">
          FBA Naczepa
          <input id="input_isa_semitrailer" asp-for="ISA_semitrailer" class="form-control" />
     </div>
</div>

<div id="create_vendor"  class="border border-secondary rounded">
    <h1>Vendor</h1>
    <div id="create_isa_lp_ilosc" class="form-group">
     <p1>LP ilość</p1>      
     <input id="input_lp_ilosc" asp-for="ISA_lp_value" class="form-control" />
     </div>
     <div id="create_isa_lp" class="form-group">
     <p1>LP</p1>      
     <input id="input_lp" asp-for="ISA_lp" class="form-control" />
     </div>
     <div id="create_isa_parcel_ilosc" class="form-group">
     <p1>Parcel ilość</p1>      
     <input id="input_parcel_ilosc" asp-for="ISA_parcel_value" class="form-control" />
     </div>
     <div id="create_isa_parcel" class="form-group">
     <p1>Parcel</p1>      
     <input id="input_parcel" asp-for="ISA_parcel" class="form-control" />
     </div>
     <div id="create_isa_pax_ilosc">
          <p1>PAX ilość</p1>  
     <input id="input_pax_ilosc" asp-for="ISA_pax_value" class="form-control" />
     </div>
      <div id="create_isa_pax">
           <p1>PAX</p1>  
       <input id="input_pax" asp-for="ISA_pax" class="form-control" />
     </div>
      <div id="create_isa_mono_ilosc">
           <p1>MONO ilość</p1>  
      <input id="input_mono_ilosc" asp-for="ISA_mono_value" class="form-control" />
     </div>
      <div id="create_isa_mono_ilosc">
           <p1>MONO</p1>  
      <input id="input_mono" asp-for="ISA_mono" class="form-control" />

     </div>


</div>

<div id="create_vendor_recive"  class="border border-secondary rounded">
    <h1>Vendor - recive</h1>
    <div id="create_vendor_recive_standard">
      
    <div id="create_isa_ra_ilosc" class="form-group">
     <p1>Ra Ilość</p1>      
     <input id="input_isa_ra_ilosc" asp-for="ISA_ra_value" class="form-control" />
     </div>
     <div id="create_isa_ra" class="form-group">
     <p1>Ra</p1>      
     <input id="input_isa_ra" asp-for="ISA_ra" class="form-control" />
     </div>
     <div id="create_isa_rb_ilosc" class="form-group">
     <p1>Rb Ilość</p1>      
     <input id="input_isa_rb_ilosc" asp-for="ISA_rb_value" class="form-control" />
     </div>
     <div id="create_isa_rb" class="form-group">
     <p1>Rb</p1>      
     <input id="input_isa_rb" asp-for="ISA_rb" class="form-control" />
     </div>
     <div id="create_isa_rh_ilosc" class="form-group">
     <p1>Rh Ilość</p1>      
     <input id="input_isa_rh_ilosc" asp-for="ISA_rh_value" class="form-control" />
     </div>
     <div id="create_isa_rh" class="form-group">
     <p1>Rh</p1>      
     <input id="input_isa_rh" asp-for="ISA_rh" class="form-control" />
     </div>
     </div>




     <div id="create_vendor_recive_prep">
     <div id="create_isa_ra_ilosc" class="form-group">
     <p1>RAP Ilość</p1>      
     <input id="input_isa_ra_ilosc" asp-for="ISA_rap_value" class="form-control" />
     </div>
     <div id="create_isa_ra" class="form-group">
     <p1>RAP</p1>      
     <input id="input_isa_ra" asp-for="ISA_rap" class="form-control" />
     </div>
     <div id="create_isa_rb_ilosc" class="form-group">
     <p1>RBP Ilość</p1>      
     <input id="input_isa_rb_ilosc" asp-for="ISA_rbp_value" class="form-control" />
     </div>
     <div id="create_isa_rb" class="form-group">
     <p1>RBH Ilość</p1>      
     <input id="input_isa_rb" asp-for="ISA_rbp" class="form-control" />
     </div>
     <div id="create_isa_rh_ilosc" class="form-group">
     <p1>RHP Ilość </p1>      
     <input id="input_isa_rh_ilosc" asp-for="ISA_rhp_value" class="form-control" />
     </div>
     <div id="create_isa_rh" class="form-group">
     <p1>RHP</p1>      
     <input id="input_isa_rh" asp-for="ISA_rhp" class="form-control" />
     </div>
     </div>

     <div id="create_vendor_recive_case">
         <div id="create_isa_ra_ilosc" class="form-group">
     <p1>AC Ilość</p1>      
     <input id="input_isa_ra_ilosc" asp-for="ISA_ac_value" class="form-control" />
     </div>
     <div id="create_isa_ra" class="form-group">
     <p1>AC</p1>      
     <input id="input_isa_ra" asp-for="ISA_ac" class="form-control" />
     </div>
     <div id="create_isa_rb_ilosc" class="form-group">
     <p1>BC Ilość</p1>      
     <input id="input_isa_rb_ilosc" asp-for="ISA_bc_value" class="form-control" />
     </div>
     <div id="create_isa_rb" class="form-group">
     <p1>BC</p1>      
     <input id="input_isa_rb" asp-for="ISA_bc" class="form-control" />
     </div>
     <div id="create_isa_rh_ilosc" class="form-group">
     <p1>HC Ilość</p1>      
     <input id="input_isa_rh_ilosc" asp-for="ISA_hc_value" class="form-control" />
     </div>
     <div id="create_isa_rh" class="form-group">
     <p1>HC</p1>      
     <input id="input_isa_rh" asp-for="ISA_hc" class="form-control" />
     </div>

      
     </div>

    




     
     </div>
    <div id="create_isa_add_or_back"class="form-group">
     <input type="submit" value="Dodaj" class="btn btn-primary" />
     <button type="button" class="btn btn-secondary"><a asp-action="Index">Powrót</a></button>
      
    </div>





</form>



