@model GroundManagmentSystem.Models.ISA_Model

@{
    ViewData["Title"] = "Delete";
}


<hr />
<div >
    <div class="alert alert-danger" role="alert">
  <h4 style="text-align:center"class="alert-heading">Usuwanie ISA:@Model.ISA_number</h4>
  <p>Czy na pewno usunąć ISA:@Model.ISA_number ?</p>
  <hr>
  <p class="mb-0">
      <form asp-action="Delete">
            
            
            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-danger" />
            </div>
        </form>
        <div style="position:relative; bottom:38px; left:80px;">
    <a style="float:left"class="btn btn-success" asp-action="Index">Anuluj</a>
</div>
</p>




