@using Microsoft.Data.SqlClient
@model IEnumerable<ISA_Model>
@using System.Linq;
@using System.Data;
@using System.Collections
@using MySqlConnector

@using IronXL;

<

    @{

        
         
//            string sql = "SELECT ISA_number,ISA_date_time FROM isa_models";

//    //Your connection string
//    string connectionString = @"server=localhost; database=gmsdb; user=root; password=";

//    using (MySqlConnection connection = new MySqlConnection(connectionString))
//    {
//        //Open connections to the database
//        connection.Open();
//        MySqlDataAdapter adapter = new MySqlDataAdapter(sql, connection);
//        DataSet ds = new DataSet();
//        // Fill DataSet with data
//        adapter.Fill(ds);
//        WorkBook workbook;



//        //Create an Excel workbook from the SQL DataSet in one line
//        workbook = WorkBook.Load(ds);

//        <input type="file" webkitdirectory directory multiple/>
//        workbook.SaveAs("C:\\Users\\liszy\\OneDrive\\Pulpit\\raport.xlsx");
//    }
            
//   <div class="alert alert-success" role="alert">
//  <h4 class="alert-heading">Well done!</h4>
//  <p>Utworzono raport!</p>
//  <hr>
//  <p class="mb-0"></p>
//  <a asp-action="Index">powrót</a>
//</div>
        
        


}
}

